<%- include("partials/header.ejs") -%>

<div class="album py-5 bg-body-tertiary">
	<div class="container">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
			<% for(let i = 0; i < products1.length; i++) { %>
			<div class="col shadow-sm">
				<div class="card border-0">
					<div class="rounded" style="height: 20rem; overflow: hidden">
						<img src="<%= products1[i].thumbnail %>" alt="Thumbnail" />
					</div>
					<h4 class="card-title px-2 pt-1"><%= products1[i].title %></h4>
					<div class="card-body">
						<h4 class="">$<u><%= products1[i].price %></u></h4>

						<p class="card-text"><%= products1[i].description %></p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
								<div class="dropdown">
									<button
										class="btn btn-outline-primary dropdown-toggle"
										type="button"
										data-bs-toggle="dropdown"
										aria-expanded="false"
									>
										Actions
									</button>
									<ul class="dropdown-menu list-unstyled mb-0">
										<li>
											<a
												class="dropdown-item d-flex align-items-center gap-2 py-2"
												href="#"
											>
												<span
													class="d-inline-block bg-success rounded-circle p-1"
												></span>
												View
											</a>
										</li>
										<li>
											<form
												action="/editing/<%= products1[i]._id  %>"
												method="get"
											>
												<button
													type="submit"
													class="dropdown-item d-flex align-items-center gap-2 py-2"
												>
													<span
														class="d-inline-block bg-primary rounded-circle p-1"
													></span>

													Edit
												</button>
											</form>
										</li>
										<li>
											<a
												class="dropdown-item d-flex align-items-center gap-2 py-2"
												href="#"
											>
												<span
													class="d-inline-block bg-info rounded-circle p-1"
												></span>
												Add to favourites
											</a>
										</li>
										<li>
											<a
												class="dropdown-item d-flex align-items-center gap-2 py-2"
												href="#"
											>
												<span
													class="d-inline-block bg-danger rounded-circle p-1"
												></span>
												Delete
											</a>
										</li>
									</ul>
								</div>
							</div>
							<small class="text-muted">
								<%= products1[i].stock %> Remaining
							</small>
						</div>
					</div>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>

<%- include("partials/footer.ejs") -%>
