<%- include("partials/header.ejs") -%> <%- include("partials/signin.ejs") -%>
<%function truncateDescription(description, maxLength) { if (description.length>
maxLength) { return description.substring(0, maxLength) + '...'; } else { return
description; } } %>

<!-- Start -->

<section class="navbar py-0 my-0">
	<div
		class="offcanvas offcanvas-end rounded-start w-auto px-2"
		data-bs-scroll="true"
		tabindex="-1"
		id="offcanvasWithBothOptions"
		aria-labelledby="offcanvasWithBothOptionsLabel"
	>
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
				My Cart
			</h5>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="offcanvas"
				aria-label="Close"
			></button>
		</div>
		<div class="offcanvas-body">
			<div class="card">
				<table
					id="cartTable"
					class="table table-striped table-border table-hover"
				>
					<thead class="mx-1">
						<tr id="cartTableHeaed">
							<th id="itemTitle"></th>
							<th id="itemPrice"></th>
							<th id="quantity">Quantity</th>
							<th id="itemTotals">Item Totals</th>
						</tr>
					</thead>
					<tbody id="cartItems"></tbody>

					<tr id="cartFoot"></tr>
				</table>
			</div>
		</div>
	</div>
</section>
<section id="houses" class="houses py-3">
	<div
		id="cartButtonContainer"
		class="d-flex position-sticky top-0 end-0 w-auto"
	>
		<button
			id="cartButton"
			class="btn ms-auto btn-outline-primary rounded-circle"
			type="button"
			data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasWithBothOptions"
			aria-controls="offcanvasWithBothOptions"
		>
			<i class="bx bx-cart-alt display-2"></i>
		</button>
	</div>
	<div
		class="row mx-auto container g-4 row-cols-lg-4 row-cols-md-3 row-cols-sm-2"
	>
		<% for(let j = 0; j < products.length; j++) { %>

		<div class="col">
			<div
				class="card border-0 shadow-md expand-lg"
				data-bs-toggle="tooltip"
				data-bs-placement="bottom"
				title="Click to view listing."
			>
				<div id="imageArea">
					<i
						id="<%=products[j]._id%>,<%=products[j].title%>,<%=products[j].price%>"
						data-bs-toggle="tooltip"
						data-bs-placement="bottom"
						title="Add to Card"
						class="bx bx-cart-add heart-icon display-4 rounded-circle m-2 p-1"
					></i>
					<img
						style="height: 10rem"
						src="<%= products[j].thumbnail %>"
						class="card-img-top"
						alt="Thumbnail"
					/>
				</div>
				<div class="card-body">
					<div class="card-title fw-bold fs-4 lh-1">
						<%=products[j].title %>
					</div>
					<div class="card-body">
						<div class="col price mb-1 w-50 text-nowrap">
							Ksh<span class="fw-bold fs-4 px-2" id="price"
								><%= products[j].price %></span
							>
						</div>
						<form action="/product/<%= products[j]._id  %>" method="get">
							<button class="btn btn-outline-primary" type="submit">
								More Info
							</button>
						</form>
					</div>
					<div id="description" class="card-footer overflow-hidden">
						<%= products[j].description %>
					</div>
				</div>
			</div>
		</div>
		<% }; %>
	</div>
</section>

<!-- End -->

<%- include("partials/footer.ejs") -%>
